.app {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 3rem;
  color: #333;
  text-align: center;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  text-align: -webkit-center;
  flex: 0 0 100%;
}

carousel-content {
  background-color: white;
}

.content-tile {
  width: 14rem;
  padding: 2rem !important;
}

.border-none {
  border: none;
  box-shadow: none !important;
}

/* 丸ボタン */
.btn-round a {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 15rem;
  padding: 0.6rem 1.5rem;
  color: #000000;
  /*transition: 0.1s ease-in-out;*/
  /*font-weight: 600;*/
  background: #fdf134;
  border: solid #0c0c0c;
  border-width: 1px;
  border-radius: 4rem;
  text-decoration: none;
  /*border-bottom: solid 0.1rem #00396c;*/
}
.btn-round a:hover {
  background: #cec429;
  color: #000000;
  /*border-bottom: solid 0rem #00396c;*/
  /*transform: translateY(0.2rem);*/
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body {
  --black: #000000;
  --ash-black: #222;
  --grey: #b9b9b9;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #299a5d;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
}

// お問合せフォーム ------------------------------------------>>
.form-input {
  --error-text: #ff2b2b;
  --error-backgroud: rgba(255, 210, 210, 0.38);
  --error-font-size: 0.8rem;

  div{
    padding-left: 0;
    margin-left: 0;
    width: 50vw;
  }

  .form-error {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: var(--error-font-size);
    color: var(--error-text);
    div{
      background: var(--error-backgroud);
    }
    label {
      color: var(--error-text);
    }
  }
}
// <<--------------------------------------------------------


// プライバシースクリーン-------------------------------------->>
.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey);
  z-index: 2;
}
// <<------------------------------------プライバシースクリーン

// キャンバス背景　-------------------------------------->>
.CanvasBackground {
  background-color: white;
}
// <<-------------------------------------　キャンバス背景


button {
  bottom: 0;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

// モバイルナビゲーション------------------------------------------->>
.mobile-navigation .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}
.mobile-navigation ul, li {
  margin: 0;
  padding: 0;
}
.mobile-navigation ul {
  padding: 25px;
  position: absolute;
  top: 3.5rem; // ナビゲーションバーの高さと揃える
  width: 230px;
}
.mobile-navigation li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mobile-navigation .icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}
.mobile-navigation .text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}
// <<-------------------------------------------モバイルナビゲーション