.App {
  text-align: center;
  padding: 0;

}

.App-logo {
  pointer-events: none;
}

.toolbar {
  --background: rgb(255, 255, 255);
  --font-size: 0.875rem;
  height: calc(var(--font-size) * 6);

  /* ボタン */

  .button-area {
    justify-content: end;
    align-self: flex-start;
  }

  .button-area {
    Button {
      --border-color: #000000;
      --width: 6rem;
      --margin-left: 3rem;
      --text: #000000;
      --font-family: 'Hiragino Kaku Gothic ProN';
      --font-weight: 500;
      --duration: .44s;
      --move-hover: 6rem;
      //--shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
      //--shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
      //--font-shadow: var(--font-size);
      background: var(--background);
      border: solid var(--border-color);
      width: var(--width);
      margin-left: var(--margin-left);
      color: var(--text);
      font-size: var(--font-size);
      font-family: var(--font-family);
      font-weight: var(--font-weight);
      display: block;
      outline: none;
      text-decoration: none;
      box-shadow: var(--shadow);
      //transform: translateY(var(--move-hover)) translateZ(0);
      transition: transform var(--duration) ease, box-shadow var(--duration) ease;

      div {
        overflow: hidden;
        height: calc(var(--font-size) * 1.5);

        a {
          display: block;
          backface-visibility: hidden;
          text-shadow: 0 var(--font-shadow) 0 var(--text);
          font-style: normal;
          transition: transform var(--duration) ease;
          transform: translateY(var(--m)) translateZ(0);
          $i: 1;
          @while $i < 12 {
            &:nth-child(#{$i}) {
              transition-delay: $i / 20 + s;
            }
            $i: $i + 1;
          }
        }
      }

      &:hover {
        --y: var(--move-hover);
        --shadow: var(--shadow-hover);

        a {
          --m: calc(var(--font-size) * -1.8);
          //--m: calc(var(--font-size) * -1);
        }
      }
    }
  }
}
//&:hover {
//  border: solid #f6e634;
//  background: var(--background);
//  --y: -4px;
//
//  a {
//    transform: translateY(var(--y)) translateZ(0);
//  }
//}

//.button-area > Button:hover {
//  border: solid #f6e634;
//}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
