.App {
  text-align: center;
  padding: 0;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  text-align: -webkit-center;
  flex: 0 0 100%;
}

carousel-content {
  background-color: white;
}

/* メニューボタン */
.btn-nav a {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 15rem;
  padding: 0.6rem 1.5rem;
  color: #000000;
  /*transition: 0.1s ease-in-out;*/
  /*font-weight: 600;*/
  /*background: #fdf134;*/
  border: solid #0c0c0c;
  /*border-width: 1px;*/
  /*border-radius: 4rem;*/
  text-decoration: none;
  /*border-bottom: solid 0.1rem #00396c;*/
}
.btn-nav a:hover {
  /*background: #cec429;*/
  /*color: #000000;*/
  /*border-bottom: solid 0rem #00396c;*/
  /*transform: translateY(0.2rem);*/
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
